{% extends "admin_panel.html" %}

{% block book-list-anchor-class %}active{% endblock %}

{% block admin-content-block %}
<h3 style="float:left">Book List</h3>
<div style="float:right">
  <button class="btn" type="button" name="addButton" data-bs-toggle="modal" data-bs-target="#addModal">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
    </svg>
  </button>

</div>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">ISBN</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Edition</th>
      <th scope="col"></th>
      <th scope="col">Released On</th>
      <th scope="col">Price</th>
      <th scope="col">Page</th>
      <th scope="col">Quantity</th>
      <th scope="col">Publisher</th>
      <th scope="col" class="d-none">Author ID</th>
      <th scope="col" class="d-none">Publisher ID</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for row in bookInfo %}
    <tr id="ISBN-{{row.ISBN}}">
      <th scope="row" class="my-ISBN">{{row.ISBN}}</th>
      <td class="my-bookName">{{row.bookName}}</td>
      <td class="my-authorName">{{row.authorName}}</td>
      <td class="my-edition">{{row.edition}}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-outline-dark dropdown-toggle" type="button" id="{{row.ISBN}}-dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Genre
          </button>
          <ul class="dropdown-menu" aria-labelledby="{{row.ISBN}}-dropdownMenuButton1">
            {% for item in row.bookType %}
            <li><span class="dropdown-item">{{item}}</span></li>
            {% endfor %}
          </ul>
        </div>
      </td>
      <td class="my-releaseDate">{{row.releaseDate}}</td>
      <td class="my-price"><span>৳</span>{{row.price}}</td>
      <td class="my-pageCount">{{row.pageCount}}</td>
      <td class="my-quantity">{{row.quantity}}</td>
      <td class="my-publisherName">{{row.publisherName}}</td>
      <td class="my-authorID d-none">{{row.authorID}}</td>
      <td class="my-publisherID d-none">{{row.publisherID}}</td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary my-edit-btn" data-bs-toggle="modal" data-bs-target="#editModal"
        data-ISBN="{{row.ISBN}}"
        data-bookName="{{row.bookName}}"
        data-authorID="{{row.authorID}}"
        data-edition="{{row.edition}}"
        data-releaseDate="{{row.releaseDate}}"
        data-price="{{row.price}}"
        data-pageCount="{{row.pageCount}}"
        data-quantity="{{row.quantity}}"
        data-publisherID="{{row.publisherID}}"
        data-bookType='[{% for i in row.bookType %} {% if forloop.last %} "{{ i }}" {% else %} "{{ i }}", {% endif %} {% endfor %}]' >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
        </svg>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- <script type="text/javascript">
  $("#customer-list").addClass("active");

</script> -->

<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Edit Book Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editBookForm" action="{% url 'admin-book-list-view' %}" method='post' enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_type" value="edit" />
          <div class="mb-3">
            <label for="modal-edit-ISBN" class="form-label">ISBN</label>
            <input type="text" class="form-control" id="modal-edit-ISBN" name="ISBN" value="My ISBN" readonly>
          </div>
          <div class="mb-3">
            <label for="modal-edit-bookName" class="form-label">Book Name</label>
            <input type="text" class="form-control" id="modal-edit-bookName" name="bookName" value="My Book">
          </div>
          <div class="mb-3">
            <label for="modal-edit-authorName" class="form-label">Author</label>
            <select class="form-select" name="authorID" id="modal-edit-authorName">
              {% for author in authorList %}
              <option value="{{author.0}}">{{author.1}}</option>

              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="modal-edit-edition" class="form-label">Edition</label>
            <input type="text" class="form-control" name="edition" id="modal-edit-edition" value="My Edition">
          </div>
          <div class="mb-3">
            <label for="modal-edit-releaseDate" class="form-label">Release Date</label>
            <input placeholder="Selected date" value="2001-01-01" name="releaseDate" id="modal-edit-releaseDate" type="date" class="form-control datepicker">

          </div>
          <div class="mb-3">
            <label for="modal-edit-price" class="form-label">Price</label>
            <div class="input-group">
              <span class="input-group-text">৳</span>
              <input type="text" class="form-control" name="price" id="modal-edit-price" value="10">

            </div>
          </div>

          <div class="mb-3">
            <label for="modal-edit-pageCount" class="form-label">Page</label>
            <input type="text" class="form-control" name="pageCount" id="modal-edit-pageCount" value="20">
          </div>

          <div class="mb-3">
            <label for="modal-edit-quantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" name="quantity" id="modal-edit-quantity" value="5">
          </div>

          <div class="mb-3">
            <label for="modal-edit-publisherName" class="form-label">Publisher</label>
            <select class="form-select" name="publisherID" id="modal-edit-publisherName">
              {% for publisher in publisherList %}
              <option value="{{publisher.0}}">{{publisher.1}}</option>

              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="modal-edit-bookType" class="form-label">Book Type</label>
            <input type="text" class="form-control" name="bookType" id="modal-edit-bookType" value="dorime, latire">

          </div>

          <div class="mb-3">
            <label for="coverPic" class="form-label">Upload New Cover</label>
            <input class="form-control" name="coverPic" type="file" id="coverPic">
          </div>






          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button submit" form="editBookForm" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- add modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Add A New Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addBookForm" action="{% url 'admin-book-list-view' %}" method='post' enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_type" value="add" />
          <div class="mb-3">
            <label for="modal-add-ISBN" class="form-label">ISBN</label>
            <input type="text" class="form-control" id="modal-add-ISBN" name="ISBN">
          </div>
          <div class="mb-3">
            <label for="modal-add-bookName" class="form-label">Book Name</label>
            <input type="text" class="form-control" id="modal-add-bookName" name="bookName">
          </div>
          <div class="mb-3">
            <label for="modal-add-authorName" class="form-label">Author</label>
            <select class="form-select" name="authorID" id="modal-add-authorName">
              <option value="" selected>Choose an author</option>
              {% for author in authorList %}
              <option value="{{author.0}}">{{author.1}}</option>

              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="modal-add-edition" class="form-label">Edition</label>
            <input type="text" class="form-control" name="edition" id="modal-add-edition">
          </div>
          <div class="mb-3">
            <label for="modal-add-releaseDate" class="form-label">Release Date</label>
            <input placeholder="Selected date" name="releaseDate" id="modal-add-releaseDate" type="date" class="form-control datepicker">

          </div>
          <div class="mb-3">
            <label for="modal-add-price" class="form-label">Price</label>
            <div class="input-group">
              <span class="input-group-text">৳</span>
              <input type="text" class="form-control" name="price" id="modal-add-price">

            </div>
          </div>

          <div class="mb-3">
            <label for="modal-add-pageCount" class="form-label">Page</label>
            <input type="text" class="form-control" name="pageCount" id="modal-add-pageCount">
          </div>

          <div class="mb-3">
            <label for="modal-add-quantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" name="quantity" id="modal-add-quantity">
          </div>

          <div class="mb-3">
            <label for="modal-add-publisherName" class="form-label">Publisher</label>
            <select class="form-select" name="publisherID" id="modal-add-publisherName">
              <option value="" selected>Choose a publisher</option>
              {% for publisher in publisherList %}
              <option value="{{publisher.0}}">{{publisher.1}}</option>

              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="modal-edit-bookType" class="form-label">Book Type</label>
            <input type="text" class="form-control" name="bookType" id="modal-edit-bookType">

          </div>

          <div class="mb-3">
            <label for="add-coverPic" class="form-label">Upload A Cover</label>
            <input class="form-control" name="coverPic" type="file" id="add-coverPic">
          </div>



          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button submit" form="addBookForm" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.my-edit-btn').click(function() {
      // var v = $(event.target).parent().siblings(".my-ISBN").text();
      // $("#modal-edit-ISBN").val(v);

      var v = $(event.currentTarget).data();

      $("#modal-edit-ISBN").val(v["isbn"]);


      // var v = $(event.target).parent().siblings(".my-bookName").text();
      $("#modal-edit-bookName").val(v["bookname"]);

      // var v = $(event.target).parent().siblings(".my-authorID").text();
      // $("#modal-edit-authorName").find(`[value=${v}]`).attr("selected", "selected");
      $("#modal-edit-authorName").find(`[value=${v["authorID"]}]`).attr("selected", "selected");

      // var v = $(event.target).parent().siblings(".my-edition").text();
      // $("#modal-edit-edition").val(v);
      $("#modal-edit-edition").val(v["edition"]);

      // var v = $(event.target).parent().siblings(".my-releaseDate").text();
      // $("#modal-edit-releaseDate").val(v);
      $("#modal-edit-releaseDate").val(v["releasedate"]);

      // var v = $(event.target).parent().siblings(".my-price").text();
      // $("#modal-edit-price").val(v.substring(1));
      $("#modal-edit-price").val(v["price"]);

      // var v = $(event.target).parent().siblings(".my-pageCount").text();
      // $("#modal-edit-pageCount").val(v);
      $("#modal-edit-pageCount").val(v["pagecount"]);

      // var v = $(event.target).parent().siblings(".my-quantity").text();
      // $("#modal-edit-quantity").val(v);
      $("#modal-edit-quantity").val(v["quantity"]);

      // var v = $(event.target).parent().siblings(".my-publisherID").text();
      // $("#modal-edit-publisherName").find(`[value=${v}]`).attr("selected", "selected");
      $("#modal-edit-publisherName").find(`[value=${v["publisherid"]}]`).attr("selected", "selected");

      let t = ""
      let itr = v['booktype'].length;
      for (let i of v['booktype']) {
        if (--itr) {
          t+=i+", ";
        }
        else {
          t+=i;
        }
      }

      $("#modal-edit-bookType").val(t);
    });
  });
</script>
{% endblock %}
