{% extends "admin_panel.html" %}

{% block plan-list-anchor-class %}active{% endblock %}

{% block admin-content-block %}
<h3 style="float:left">Plan List</h3>
<div style="float:right">
  <button class="btn" type="button" name="addButton" data-bs-toggle="modal" data-bs-target="#addModal">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
    </svg>
  </button>

</div>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Current Subscriptions</th>
      <th scope="col">Period</th>
      <th scope="col">Borrow Limit</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for row in planInfo %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{row.planName}}</td>
      <td>{{row.activeSubscriptionCount}}</td>
      <td>{{row.period}}</td>
      <td>{{row.borrowLimit}}</td>
      <td>৳{{row.price}}</td>
      <td>
        <!-- Button trigger modal -->
        <div class="btn-group">
          <button type="button" id="{{row.planID}}_edit-btn" class="btn btn-secondary my-edit-btn" data-bs-toggle="modal" data-bs-target="#editModal" data-planID="{{row.planID}}" data-planName="{{row.planName}}" data-period="{{row.period}}" data-borrowLimit="{{row.borrowLimit}}" data-price="{{row.price}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </button>
          <button type="button" id="{{row.authorID}}_delete-btn" class="btn btn-danger my-delete-btn" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-planID="{{row.planID}}" data-planName="{{row.planName}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
            </svg>
          </button>
        </div>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- <script type="text/javascript">
  $("#customer-list").addClass("active");

</script> -->

<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Edit Plan Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editPlanForm" action="{% url 'admin-plan-list-view' %}" method='post' enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_type" value="edit">
          <input type="hidden" id="modal-edit-planID" name="planID" value="my plan id">
          <div class="mb-3">
            <label for="modal-edit-planName" class="form-label">Name</label>
            <input type="text" class="form-control" id="modal-edit-planName" name="planName" value="My Name">
          </div>


          <div class="mb-3">
            <label for="modal-edit-period" class="form-label">Period (days)</label>
            <input type="text" class="form-control" id="modal-edit-period" name="period" value="My Name">
          </div>


          <div class="mb-3">
            <label for="modal-edit-borrowLimit" class="form-label">Borrow Limit</label>
            <input type="text" class="form-control" id="modal-edit-borrowLimit" name="borrowLimit" value="My Name">
          </div>


          <div class="mb-3">
            <label for="modal-edit-price" class="form-label">Price</label>

            <div class="input-group">
              <span class="input-group-text">৳</span>
              <input type="text" class="form-control" id="modal-edit-price" name="price" value="My Name">
            </div>
          </div>















          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button submit" form="editPlanForm" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- add modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Add A New Plan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addPlanForm" action="{% url 'admin-plan-list-view' %}" method='post' enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_type" value="add">
          <!-- <input type="hidden" id="modal-add-planID" name="plan" value="my plan id"> -->
          <div class="mb-3">
            <label for="modal-add-planName" class="form-label">Name</label>
            <input type="text" class="form-control" id="modal-add-planName" name="planName" value="">
          </div>


          <div class="mb-3">
            <label for="modal-add-period" class="form-label">Period (days)</label>
            <input type="text" class="form-control" id="modal-add-period" name="period" value="">
          </div>


          <div class="mb-3">
            <label for="modal-add-borrowLimit" class="form-label">Borrow Limit</label>
            <input type="text" class="form-control" id="modal-add-borrowLimit" name="borrowLimit" value="">
          </div>


          <div class="mb-3">
            <label for="modal-add-price" class="form-label">Price</label>
            <div class="input-group">
              <span class="input-group-text">৳</span>
              <input type="text" class="form-control" id="modal-add-price" name="price" value="">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button submit" form="addPlanForm" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the plan "<span id="modal-delete-planName"></span>"?</p>
        <form id="deletePlanForm" action="{% url 'admin-plan-list-view' %}" method='post' enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="post_type" value="delete">
          <input type="hidden" id="modal-delete-planID" name="planID" value="my publisher id">

          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button submit" form="deletePlanForm" class="btn btn-outline-primary">Yes</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $(".my-edit-btn").click(function() {
      var v = $(event.currentTarget).data();
      // for some reason data-* turns all data field name to lowercase
      $("#modal-edit-planID").val(v["planid"]);
      $("#modal-edit-planName").val(v["planname"]);
      $("#modal-edit-period").val(v["period"]);
      $("#modal-edit-borrowLimit").val(v["borrowlimit"]);
      $("#modal-edit-price").val(v["price"]);
    });

    $(".my-delete-btn").click(function() {
      var v = $(event.currentTarget).data();
      // console.log(v);
      // for some reason data-* turns all data field name to lowercase
      $("#modal-delete-planID").val(v["planid"]);
      $("#modal-delete-planName").html("<b>"+v["planname"]+"</b>");
    });


    $('#editModal').on('hidden.bs.modal', function(e) {
      $("#modal-edit-planID").removeAttr('value');
      $("#modal-edit-planName").removeAttr('value');
      $("#modal-edit-period").removeAttr('value');
      $("#modal-edit-borrowLimit").removeAttr('value');
      $("#modal-edit-price").removeAttr('value');
    });

    $('#confirmationModal').on('hidden.bs.modal', function(e) {
      $("#modal-delete-planID").removeAttr('value');
      $("#modal-delete-planName").removeAttr('value');
    });

  });
</script>
{% endblock %}
