{% extends "admin_panel.html" %}
<!-- {% load static %} -->

{% block admin-content-block %}


<h1 class="display-3">Overview Stat</h1>
<hr>
<br>
<div class="container">
  <h3>📈 Sold Books Worth of <b>৳{{total_sold}}</b> Since <mark>{{since_date}}</mark></h3>
  <h3>👥 <b>{{total_customer_count}}</b> Active Users</h3>
  <h3>🔥 Total <b>{{total_offer_count}}</b> Exciting Offers</h3>
  <h3>📚 Over <b>{{total_book_count}}</b> Books</h3>
  <h3>🚚 Total <b>{{total_order_count}}</b> Orders delivered and counting...</h3>
</div>

{% endblock %}
