{% extends 'base.html' %}
{% load static %}
e
{% block base_content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #f0f0f0;">
  <div class="container-fluid">


    <a class="navbar-brand" href="/">
      <img src="{% static 'logo.svg' %}" alt="" width="200">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="container" action="{% url 'homepage' %}" method="post">
        {% csrf_token %}

        <div class="input-group">

          <input type="text" class="form-control" placeholder="Search By Book Name or Author Name" aria-label="Search"
            aria-describedby="button-addon2" id="search" name="search">

          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </button>


        </div>
      </form>

      
        <a href="manage/">
          <button type="button" class="btn btn-secondary">
            Admin Panel
          </button>
        </a>


      <button class="btn me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
          <path
            d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z" />
        </svg>
      </button>
    </div>
  </div>
</nav>



<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    {% if usertype == 'customer' %}
    <h5 id="offcanvasRightLabel">Welcome! {{userfullname}}</h5>
    {% else %}
    <h5 id="offcanvasRightLabel">You are not logged in. Please sign in!</h5>
    {% endif %}
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <ul class="nav flex-column">

      {% if usertype == 'customer' %}
      
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'user-profile-account' cid=username %}">My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user-profile-wishlist' cid=username %}">My Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user-profile-cart' cid=username %}">My Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user-profile-orders' cid=username %}">My Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user-profile-borrows' cid=username %}">My Borrows</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'customer-logout-view' %}">Log out</a>
      </li>

      {% else %}
      <li>
        <a class="nav-link" href="{% url 'customer-login-view' %}">Sign in</a>
      </li>
      {% endif %}
    </ul>



    {% block offcanvas_content %}

    {% endblock %}

  </div>
</div>

{% block content %}

{% endblock %}

<footer class="navbar sticky-bottom footer">
  <!-- Copyright -->
  <div class="container-fluid" align="center" style="background-color: rgba(0, 0, 0, 0);">
    <div class="mx-auto p-3">
      © 2022 Copyright:
      <a class="text-dark" href="http://127.0.0.1:8000">BookKeep LLC</a>
    </div>
  </div>

  <!-- Copyright -->
</footer>

{% endblock %}