{% extends 'base_with_navbar_and_offcanvas.html' %}
{% load static %}

{% block content %}

<!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .book_image {
        width: 40%;
        float: left;
    }

    .book_desc {
        width: 60%;
        height: 495px;
        float: right;
    }
</style>


</head>

<body>

    <main>

        <!-- book overview div -->

        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
                <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94"
                        role="img">
                        <title>Bootstrap</title>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                            fill="currentColor"></path>
                    </svg> -->
                    <span class="fs-4">
                        <h1>Brief Info</h1>
                    </span>
                </a>
            </header>


            <div class="row align-items-md-stretch">
                <div class="p-3 mb-2 bg-light rounded-3">
                    <div class="book_image" align="center">
                        <figure class="figure">
                            <img src="{% static 'book_cover/War-and-Peace.jpg' %}" class="figure-img img-fluid rounded"
                                alt="alternative text for book image">
                            <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                    </div>
                    <div class="container-fluid py-5 align-items-right book_desc">
                        {% for i in bookShortInfo %}
                        <h2 class="display-5 fw-bold text-dark">{{i.bookName}}</h2>
                        <!-- <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like
                            the
                            one in previous versions of Bootstrap. Check out the examples below for how you can remix
                            and
                            restyle it to your liking.</p> -->
                        <h3 class="col-md-12 fs-1"> By- {{i.authorName}} </h3>
                        <h3 class="col-md-12 fs-3"> Price: ৳{{i.price}}</h3>
                        <h4 class="col-md-12 fs-3"> Genre: {{i.type}}</h4>

                        {% endfor %}

                        <div class="pt-4">
                            <button class="btn btn-primary btn-lg" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-cart" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                Add to Cart</button>
                            <button class="btn btn-primary btn-lg btn btn-success" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-cart" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                Add to Wishlist</button>
                            <button class="btn btn-primary btn-lg btn btn-secondary" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-cart" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                Borrow </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- book details div -->


        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
                <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="fs-4">
                        <h1>Book Details</h1>
                    </span>
                </a>
            </header>

            <!-- Nav tabs -->

            <ul class="nav nav-pills" id="myTab" role="tablist" style="font-size:x-large;">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="specification-tab" data-toggle="tab" href="#specification" role="tab"
                        aria-controls="specification" aria-selected="true">Specification</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="author_details-tab" data-toggle="tab" href="#author_details" role="tab"
                        aria-controls="author_details" aria-selected="false">Author Details</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab"
                        aria-controls="reviews" aria-selected="false">Reviews</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="specification" role="tabpanel" aria-labelledby="specification-tab">

                    <div class="pt-3">
                        <table class="table table-striped table-hover" style="font-size:larger;">
                            <!-- <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                  </tr>
                                </thead> -->
                            {% for i in bookLongInfo %}
                            <tbody>
                                <tr>
                                    <th scope="row">Title</th>
                                    <td>{{i.bookName}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">ISBN</th>
                                    <td>{{i.isbn}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Author</th>
                                    <td>{{i.authorName}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Edition</th>
                                    <td>{{i.edition}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Genre</th>
                                    <td>{{i.type}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Price</th>
                                    <td>{{i.price}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Pages</th>
                                    <td>{{i.pages}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Release Date</th>
                                    <td>{{i.releaseDate}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Quantity</th>
                                    <td>{{i.quantity}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Publisher</th>
                                    <td>{{i.publisher}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane" id="author_details" role="tabpanel" aria-labelledby="author_details-tab">
                    <div class="pt-3">
                        <table class="table table-striped table-hover" style="font-size:larger;">
                            {% for i in authorInfo %}
                            <tbody>
                                <tr>
                                    <th scope="row">Name</th>
                                    <td>{{i.name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Date of Birth</th>
                                    <td>{{i.dob}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Date of Death</th>
                                    <td>{{i.dod}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">About</th>
                                    <td>{{i.about}}</td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="tab-pane" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    <div class="pt-3">

                    </div>
                </div>
            </div>


        </div>

    </main>
</body>

<!-- <script>
    $('#myTab a').on('click', function (event) {
        event.preventDefault()
        $(this).tab('show')
    })

    $('#myTab a[href="#pills-specification"]').tab('show') // Select tab by name
    $('#myTab a[href="#pills-profile"]').tab('show')
    // $('#myTab li:first-child a').tab('show') // Select first tab
    // $('#myTab li:last-child a').tab('show') // Select last tab
    // $('#myTab li:nth-child(3) a').tab('show') // Select third tab
</script> -->

{% endblock %}