{% extends "login_base.html" %}

{% block login-content %}
<div class="container-fluid my-4">
  <h3>Register for free</h3>
  <hr>
  <!-- form -->
  <form id="signupform" action="{% url 'customer-registration-view' %}" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="fullname" class="form-label">Fullname</label>
      <input type="text" class="form-control" id="fullname" name="fullname">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" name="email">
    </div>


    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <textarea rows="4" class="form-control" name="address" id="address" name="address"></textarea>
    </div>


    <div class="mb-3">
      <label for="cont_number" class="form-label">Contact Number</label>
      <input type="text" class="form-control" id="cont_number" name="cont_number" aria-describedby="cont_info">
      <div id="cont_info" class="form-text">Provide comma separated contacts if you wish to add more than one</div>
    </div>

    <br>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>


    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password1" name="password1">
    </div>


    <div class="mb-3">
      <label for="password2" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="password2" name="password2">
    </div>


  </form>
  <button form="signupform" type="submit" class="btn btn-primary">Sign Up</button>
</div>
{% endblock %}
