{% extends "login_base.html" %}

{% block login-content %}

<div class="container-fluid my-4">
  <h3>{{usertype}} Login</h3>
  <hr>
  <!-- form -->
  {% if usertype == 'Customer' %}
  <form action="{% url 'customer-login-view' %}" method='post'>
    {% elif usertype == 'Manager' %}
    <form action="{% url 'manager-login-view' %}" method='post'>
      {% endif %}
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% if usertype == 'Customer' %}
<br>
<p class="text-secondary small"><i>Don't have an account? <a href="/registration/">Register</a> for free</i></p>
{% endif %}

</div>


{% endblock %}
