{% extends 'base.html' %}

{% block base_content %}
<style media="screen">
  .notification {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  .jumbotron {
    width: 60%;
    height: 60%;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 20%;
    border-radius: 2;
    border: solid;
  }
</style>

<div class="jumbotron p-3 mb-2 rounded-3">
  <form action="{% url 'customer-login-view' %}" method='post'>
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


<div class="toast-container">
  {% for message in messages %}
  <div class="toast {{ message.tags}} notification align-items-center" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        {{message}}
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}