{% extends 'user_profile.html' %}
{% load static %}

{% block user-profile-content-block %}

<header class="pb-3 mb-4 border-bottom">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">
            ×
        </button>
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}

    <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">
            <h1>My Orders</h1>
        </span>
    </a>
</header>

{% if order|length %}
<header class="pb-3 mb-4 border-bottom">
    <h2 align="center">Completed Orders</h2>
</header>
{% endif %}

{% for i in order %}
<div class="container-fluid row align-items-md-stretch">
    <div class="bg-light p-3 mb-2 rounded-3" style="height: 300px;">
        <!--p-3 mb-2 rounded-3-->
        <!-- <div class="book_image" align="center">
            <figure class="figure">
                <img src="{% static 'book_cover/War-and-Peace.jpg' %}" class="figure-img img-fluid rounded"
                    alt="alternative text for book image" style="height: 250px;">
                <figcaption class="figure-caption">A caption for the above image.</figcaption>
            </figure>
        </div> -->
        <div class="container-fluid py-5 align-items-right book_desc">

            <h4 class="display-8 fw-bold text-dark">Order ID: {{i.oid}}</h4>
            <h5 class="col-md-12 fs-5"> {{i.bookName}} </h5>
            <h6 class="col-md-12 fs-5"> Price: ৳{{i.unitprice}}</h6>
            <h6 class="col-md-12 fs-5">Quantity: {{i.quantity}}</h6>
            <h6 class="col-md-12 fs-5">Order Date: {{i.orderdate}}</h6>
            <h6 class="col-md-12 fs-5">Deliver Date: {{i.deliverydate}}</h6>
            <!-- <h6 class="col-md-12 fs-5 edit-isbn delete-isbn">{{i.isbn}}</h6> -->
        </div>
    </div>
</div>
{% endfor %}

{% if pending|length %}
<header class="pb-3 mb-4 border-bottom">
    <h2 align="center">Pending Orders</h2>
</header>
{% endif %}

{% for i in pending %}
<div class="container-fluid row align-items-md-stretch">
    <div class="bg-light p-3 mb-2 rounded-3" style="height: 300px;">
        <!--p-3 mb-2 rounded-3-->
        <!-- <div class="book_image" align="center">
            <figure class="figure">
                <img src="{% static 'book_cover/War-and-Peace.jpg' %}" class="figure-img img-fluid rounded"
                    alt="alternative text for book image" style="height: 250px;">
                <figcaption class="figure-caption">A caption for the above image.</figcaption>
            </figure>
        </div> -->
        <div class="container-fluid py-5 align-items-right book_desc">

            <h4 class="display-8 fw-bold text-dark">Order ID: {{i.oid}}</h4>
            <h5 class="col-md-12 fs-5"> {{i.bookName}} </h5>
            <h6 class="col-md-12 fs-5"> Price: ৳{{i.unitprice}}</h6>
            <h6 class="col-md-12 fs-5">Quantity: {{i.quantity}}</h6>
            <h6 class="col-md-12 fs-5">Order Date: {{i.orderdate}}</h6>
            <!-- <h6 class="col-md-12 fs-5">Deliver Date: {{i.deliverydate}}</h6> -->
            <!-- <h6 class="col-md-12 fs-5 edit-isbn delete-isbn">{{i.isbn}}</h6> -->
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}