{% extends 'base_with_navbar_and_offcanvas.html' %}
{% load static %}

<!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% block content %}

<style>
    .footer {
        padding-left: 18%;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-2 px-1 position-fixed" style="background-color: #cccccc;" id="sticky-sidebar"> -->
        <!-- <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2"> -->
        <div id="sidebar" class="col-2 position-fixed d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
            style="width: 280px; top: 60px; bottom: 0px; position: fixed;">
            <a id="user-profile" href="{% url 'user-profile-account' cid=username %}"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="fs-4">My Profile</span>
            </a>
            <hr>


            <ul class="nav nav-pills flex-column mb-auto" style="font-size: larger;">
                <li class="nav-item">
                    <a id="book-list" href="{% url 'user-profile-account' cid=username %}"
                        class="nav-link text-white {% block my-account-anchor-class %}{% endblock %}">
                        <svg class="bi me-2" width="24" height="24">
                            <use xlink:href="#speedometer2" />
                        </svg>
                        My Account
                    </a>
                </li>
                <li>
                    <a id="my-wishlist" href="{% url 'user-profile-wishlist' cid=username %}"
                        class="nav-link text-white {% block my-wishlist-anchor-class %}{% endblock %}"
                        aria-current="page">
                        <svg class="bi me-2" width="24" height="24">
                            <use xlink:href="#home" />
                        </svg>
                        My Wishlist
                    </a>
                </li>
                <li>
                    <a id="my-cart" href="{% url 'user-profile-cart' cid=username %}"
                        class="nav-link text-white {% block my-cart-anchor-class %}{% endblock %}" aria-current="page">
                        <svg class="bi me-2" width="24" height="24">
                            <use xlink:href="#home" />
                        </svg>
                        My Cart
                    </a>
                </li>
                <li>
                    <a id="book-list" href="{% url 'user-profile-orders' cid=username %}"
                        class="nav-link text-white {% block my-orders-anchor-class %}{% endblock %}"
                        aria-current="page">
                        <svg class="bi me-2" width="24" height="24">
                            <use xlink:href="#speedometer2" />
                        </svg>
                        My Orders
                    </a>
                </li>
                <li>
                    <a id="book-list" href="{% url 'user-profile-borrows' cid=username %}"
                        class="nav-link text-white {% block my-borrows-anchor-class %}{% endblock %}"
                        aria-current="page">
                        <svg class="bi me-2" width="24" height="24">
                            <use xlink:href="#speedometer2" />
                        </svg>
                        My Borrows
                    </a>
                </li>
            </ul>

            <hr>
            <a href="{% url 'customer-logout-view' %}" class="nav-link bg-danger rounded text-center text-white">

                Logout
            </a>
        </div>

        <div class="col-10 offset-2" id="main">
            <div class="container-fluid mt-4">
                {% block user-profile-content-block %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}