{% extends 'user_profile.html' %}
{% load static %}

{% block user-profile-content-block %}

<!--------------------------------------- HEADER + MESSAGE --------------------------------------->

<header class="pb-3 mb-4 border-bottom">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">
            ×
        </button>
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}

    <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">
            <h1>My Orders</h1>
        </span>
    </a>
</header>

<!--------------------------------------- COMPLETED --------------------------------------->

{% if completed|length %}
<header class="pb-3 mb-4 border-bottom">
    <h2 align="center">Completed Orders</h2>
</header>
{% endif %}

{% for k,v in completed.items %}

<div class="container-fluid row align-items-md-stretch">
    <div class="bg-light p-3 mb-2 rounded-3">

        <div>
            <div align="left" style="width: 50%; float: left;">
                <h4 class="display-8 fw-bold text-dark">Order ID: {{k}}</h4>
                <h4 class="text-dark">Total Price: ৳{{ v.1 }}</h4>
            </div>

            <div align="right" style="width: 50%; float: right;">
                <h5 class="text-dark">Order Date: {{v.0.0.orderdate}}</h5>
                <h5 class="text-dark">Delivery Date: {{v.0.0.deliverydate}}</h5>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid row align-items-md-stretch">
    <div class="bg-light p-3 mb-2 rounded-3">

        <div class="row">
            {% for j in v.0 %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-header">{{j.bookName}}</h5>
                        <!-- <h5 class="col-md-12 fs-5">  </h5> -->
                        <h6 class="col-md-12 fs-5"> Price: ৳{{j.unitprice}}</h6>
                        <h6 class="col-md-12 fs-5">Quantity: {{j.quantity}}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- <h6 class="col-md-12 fs-5 edit-isbn delete-isbn">{{i.isbn}}</h6> -->

    </div>
</div>

{% endfor %}

<!--------------------------------------- PENDING --------------------------------------->


{% if pending|length %}
<header class="pb-3 mb-4 border-bottom">
    <h2 align="center">Pending Orders</h2>
</header>
{% endif %}

{% for k,v in pending.items %}

<div class="container-fluid row align-items-md-stretch">
    <div class="bg-light p-3 mb-2 rounded-3">

        <div>
            <div align="left" style="width: 50%; float: left;">
                <h4 class="display-8 fw-bold text-dark">Order ID: {{k}}</h4>
                <h4 class="text-dark">Total Price: ৳{{ v.1 }}</h4>
            </div>
            <div align="right" style="width: 50%; float: right;">
                <h5 class="text-dark">Order Date: {{v.0.0.orderdate}}</h5>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid row align-items-md-stretch">
    <div class="bg-light p-3 mb-2 rounded-3">

        <div class="row">
            {% for j in v.0 %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-header">Title: {{j.bookName}}</h5>

                        <h6 class="col-md-12 fs-5"> Price: ৳{{j.unitprice}}</h6>
                        <h6 class="col-md-12 fs-5">Quantity: {{j.quantity}}</h6>
                        <!-- <h6 class="col-md-12 fs-5">Order Date: {{j.orderdate}}</h6> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endfor %}

{% endblock %}